<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Solmate</title>
	<!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
		<!-- Style CSS -->
	<link rel="stylesheet" href="cssstyle.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	
</head>
<body>
	<!-- Script Source Files -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
	<!-- End Script Source Files -->
	<!-- Navigation bar -->

	<div class="navbar bg-primary navbar-light navbar-expand-lg">
		<div class="container">
			<a href="#" class="navbar-brand"><h3>Solmate</h3></a> <!--Add icon or image here if needed-->
		</div>
	</div>

    <div id="fullpage" class="container">

	<!-- Question title and description -->

	<br>
	<div class="container">
		<div>
			<h3>Question title</h3>
		</div>
		<hr>
		<div class="container">
			<p>
				The question description goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<hr>
	</div>

	<!-- Tags -->
<div class="container pt-6 pt-lg-10">
    <div class="row justify-content-left py-4 text-justify">

    <div class="col-md-1.5 col-lg-1.5 py-3"> 

	<div class="container">
		<div class="easy">
			Easy
		</div>
	</div> 
	</div>  
	<div class="col-md-1.75 col-lg-1.75 py-3">
		<div class="mytag medium">
			Medium
		</div>
	</div>
	<div class="col-md-1 col-lg-1 py-3">
		<div class="mytag hard">
			Hard
		</div>
	</div>
    </div>
		<hr>
	</div>

	<!-- Input and Output -->
	
	<div class="container"> 

	    <div class="container ip_op">
			<strong>Input 1:</strong>
			<p>[1,2,3,4].. inputs go here</p>
			<hr>
			<strong>Ouput 1:</strong>
			<p>[1,2,3,4].. ouputs go here</p>
	    </div>
        <br>
	    <div class="container ip_op">
			<strong>Input 2:</strong>
			<p>[1,2,3,4].. inputs go here</p>
			<hr>
			<strong>Ouput 2:</strong>
			<p>[1,2,3,4].. ouputs go here</p>
	    </div>
		
		<hr>

	</div>

	<!-- Solution 1 -->

	<!-- Algorithm -->

	<div class="container algo pt-4 lg 8">
		<h4 class="algohead">&nbspALGORITHM</h4>
		<h5>Iterative approach</h5>
		<strong> Step 1:</strong> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<strong> Step 1:</strong> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>		
	</div>

    <!-- Solution -->

    <div class="container soln" >
    	<h4>Python</h4>
    	<pre>
    		<!-- Code starts here -->
    class Solution:
    	print("The code can be inserted within the pre tags")
    	if(i==1):
    		print("here")
    		<!-- Code ends here -->
    	</pre>
    </div>
    
    <!-- Complexity -->

    <div class="container pt-3 pt-lg-5">
    <table>
    <div class="row justify-content-center py-4 text-justify">
    <tr>
    <div class="col-md-6 col-lg-12 py-3 comp"> 
          <!-- Time Complexity -->
    
    <div class="container">
    	<h4>Time Complexity:<em>O(logn)</em></h4>
    	<strong>Explanation: </strong>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    	</p>
    </div>
    </div>
    </tr>
    <tr>
    <div class="col-md-6 col-lg-12 py-3 comp">
     <!--Space Complexity -->

    <div class="container">
    	<h4>Space Complexity:<em>O(n)</em></h4>
    	<strong>Explanation: </strong>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    	</p>
    </div>
    </div>
    </tr>
    </div>
    </table>
    </div>
	<!-- Solution 2 -->

	<!-- Algorithm -->

	<div class="container algo pt-4 lg 8">
		<h4 class="algohead">&nbspALGORITHM</h4>
		<h5>Iterative approach</h5>
		<strong> Step 1:</strong> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<strong> Step 1:</strong> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>		
	</div>

    <!-- Solution -->

    <div class="container soln" >
    	<h4>Python</h4>
    	<pre>
    		<!-- Code starts here -->
    class Solution:
    	print("The code can be inserted within the pre tags")
    	if(i==1):
    		print("here")
    		<!-- Code ends here -->
    	</pre>
    </div>

    <!-- Complexity -->

    <div class="container pt-3 pt-lg-5">
    <table>
    <div class="row justify-content-center py-4 text-justify">
    <tr>
    <div class="col-md-6 col-lg-12 py-3 comp"> 
          <!-- Time Complexity -->
    
    <div class="container">
    	<h4>Time Complexity:<em>O(logn)</em></h4>
    	<strong>Explanation: </strong>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    	</p>
    </div>
    </div>
    </tr>
    <tr>
    <div class="col-md-6 col-lg-12 py-3 comp">
     <!--Space Complexity -->

    <div class="container">
    	<h4>Space Complexity:<em>O(n)</em></h4>
    	<strong>Explanation: </strong>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    	</p>
    </div>
    </div>
    </tr>
    </div>
    </table>
    </div>
    
    
    <!--Complexity ends here  -->

    </div> 
    	<div id="footer"><strong>All rights reserved!</strong></div>
</body>
</html>